/* Estilos generales del body */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('Facahada.jpeg'); /* Corrigido de 'Facahada.jpeg' a 'Fachada.jpeg' */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
}

/* Enlace de imagen que ocupa toda la pantalla */
.image-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el footer esté por encima de otros elementos */
}

/* Media Queries para pantallas medianas */
@media (max-width: 768px) {
    body {
        background-size: contain; /* Ajusta el tamaño de la imagen de fondo */
    }

    footer {
        padding: 8px;
        font-size: 14px; /* Ajusta el tamaño del texto en el footer */
    }
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 480px) {
    body {
        background-size: contain; /* Ajusta el tamaño de la imagen de fondo */
    }

    footer {
        padding: 6px;
        font-size: 12px; /* Ajusta el tamaño del texto en el footer */
    }
}
